################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projects/Pokemon/.vs/Pokemon
/Projects/Pokemon/bin/Debug/net8.0
/Projects/Pokemon/obj
