################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projects/Pokemon/.vs/Pokemon
/Projects/Pokemon/bin/Debug/net8.0
/Projects/Pokemon/obj
/Projects/Pokemon/.vs/ProjectEvaluation
/Projects/ParallelOrderProcessingSystem/.vs/ParallelOrderProcessingSystem
/Projects/ParallelOrderProcessingSystem/obj
/Projects/ParallelOrderProcessingSystem/.vs/ProjectEvaluation
/Projects/ParallelOrderProcessingSystem/bin/Debug/net8.0
